
@mixin color-variant($color){
    border: 2px dotted #fff;
    box-shadow: 0 0 0 3px $color,0 0 20px -3px rgba(0,0,0,.5);
    text-shadow: 0 0 0 #fff,0 0 5px rgba(0,0,0,.3);
    background-color: $color;
    color:  transparent;
}

#dev-ribbon {

    &.development {
        @include color-variant(#087c15);
    }

    &.localhost {
        @include color-variant(orange);
    }

    &.top-right {
        right: -50px;
        top: 50px;
        transform: rotate(45deg);
        backface-visibility: hidden;
    }
    text-align: center;
    text-transform: uppercase;
    position: fixed;
    width: 225px;

    
    padding: 5px 45px;
    text-decoration: none;
    
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;

    z-index: 16777271;
}